@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 30px;
  font-family: "Jomhuria", cursive;
}

h1 {
  font-weight: normal;
}

body {
  background-color: #10e7dc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sudoku-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-width: 266px;
  max-width: 419px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #0074e1;
}

.sudoku {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 266px;
  height: 266px;
}

@media (min-width: 355px) {
  .sudoku {
    width: 347px;
    height: 347px;
  }
}

@media (min-width: 500px) {
  .sudoku {
    width: 419px;
    height: 419px;
  }
}

.sudoku__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: white;
  color: #4129df;
}

@media (min-width: 355px) {
  .sudoku__item {
    width: 37px;
    height: 37px;
  }
}

@media (min-width: 500px) {
  .sudoku__item {
    width: 45px;
    height: 45px;
    font-size: 1rem;
  }
}

.b {
  border-bottom: 1px solid #798591;
}

.r-b {
  border-right: 1px solid #798591;
  border-bottom: 1px solid #798591;
}

.bold-r {
  border-right: 2px solid #798591;
}

.bold-b {
  border-bottom: 2px solid #798591;
}

.bold-t {
  border-top: 2px solid #798591;
}

.bold-l {
  border-left: 2px solid #798591;
}

.key-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
  max-width: 347px;
}

@media (min-width: 500px) {
  .key-board {
    max-width: 419px;
  }
}

.key-board__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.key-board__key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  width: 32px;
  height: 32px;
  font-size: 0.9rem;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #254d72;
  color: white;
  cursor: pointer;
}

.key-board__key:hover {
  background-color: #19334b;
}

@media (min-width: 355px) {
  .key-board__key {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .key-board__key {
    width: 42px;
    height: 42px;
    font-size: 1.2rem;
  }
}

.sudoku-button {
  margin: 20px auto;
  padding: 5px 25px;
  background-color: #254d72;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  border: 1px solid #798591;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.sudoku-button:hover {
  background-color: #19334b;
}

@media (min-width: 355px) {
  .sudoku-button {
    font-size: 0.9rem;
  }
}

@media (min-width: 500px) {
  .sudoku-button {
    font-size: 1.1rem;
  }
}

.hard-number {
  color: #313131;
}

.add-hover:hover {
  background-color: #e6e6e6;
}

.select {
  background-color: #c2e0fc;
}

.select:hover {
  background-color: #91c7fa;
}

.animation {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #00f308;
}

.interface {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #10e7dc;
  z-index: 5;
}

.interface-header {
  font-size: 2.5rem;
}

@media (min-height: 500px) {
  .interface-header {
    margin: 10px auto 15px auto;
  }
}

@media (min-width: 1024px) {
  .interface-header {
    margin: 60px auto 15px auto;
  }
}

.select-board {
  width: 90%;
  max-width: 419px;
  margin: 0 auto;
}

.select-board__header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  color: #6c7884;
}

.select-board__level-container {
  position: relative;
  margin: 25px auto;
  border: 2px solid #798591;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 0;
}

.select-board__level-header {
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  font-weight: normal;
  color: #6c7884;
  background-color: #10e7dc;
  z-index: 6;
}

.select-board__level-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  width: 32px;
  height: 32px;
  font-size: 0.9rem;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #254d72;
  color: white;
  cursor: pointer;
}

.animation-transition {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.animation-transition__item {
  position: absolute;
  height: 100%;
  left: 0;
}

.animation-transition__left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: animation-transition-left 1s ease-in-out;
          animation: animation-transition-left 1s ease-in-out;
  width: 110%;
  background-color: #295278;
}

.animation-transition__right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: animation-transition-right 1s ease-in-out;
          animation: animation-transition-right 1s ease-in-out;
  width: 110%;
  background-color: #366c9e;
}

@-webkit-keyframes animation-transition-left {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animation-transition-left {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animation-transition-right {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animation-transition-right {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.not-active {
  opacity: 0.2;
}

.interface-hover:hover {
  background-color: #19334b;
}

.correct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 620px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(255, 255, 255, 0.734);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
}

.correct__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */