@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

* {
    padding: 0;
    margin: 0;
}

$font-family: 'Jomhuria',
cursive;
$numbers-font: 'Roboto',
sans-serif;
$margin-top-bottom: 20px;
$medium: 355px;
$large: 500px;
$item-size-small: 28px;
$item-size-medium: 37px;
$item-size-large: 45px;
$key-size-small: 32px;
$key-size-medium: 35px;
$key-size-large: 42px;

$border-color: rgb(121, 121, 121);
$select-bcg-color: rgb(121, 197, 255);
$bcg-color: rgb(213, 213, 213);
$button-bgc-color: rgb(62, 62, 102);
$hard-number-color: rgb(49, 49, 49);
$choose-number-color: #4129df;
$animation-color: rgb(255, 194, 80);

html {
    font-size: 30px;
    font-family: $font-family;
}

h1 {
    font-weight: normal;
}

body {
    background-color: $bcg-color;
    user-select: none;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    margin-top: $margin-top-bottom;
}

.sudoku-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: ($item-size-small * 9) + 14px;
    max-width: ($item-size-large * 9) + 14px;
    margin: 0 auto;
}

.sudoku {
    display: flex;
    flex-wrap: wrap;
    width: ($item-size-small * 9) + 14px;
    height: ($item-size-small * 9) + 14px;

    @media(min-width: $medium) {
        width: ($item-size-medium * 9) + 14px;
        height: ($item-size-medium * 9) + 14px;
    }

    @media(min-width: $large) {
        width: ($item-size-large * 9) + 14px;
        height: ($item-size-large * 9) + 14px;
    }
}

.sudoku__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $item-size-small;
    height: $item-size-small;
    font-size: 0.8rem;
    font-family: $numbers-font;
    cursor: pointer;
    background-color: white;
    color: $choose-number-color;

    @media(min-width: $medium) {
        width: $item-size-medium;
        height: $item-size-medium;
    }

    @media(min-width: $large) {
        width: $item-size-large;
        height: $item-size-large;
        font-size: 1rem;
    }
}

.b {
    border-bottom: 1px solid $border-color;
}

.r-b {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.bold-r {
    border-right: 2px solid $border-color;
}

.bold-b {
    border-bottom: 2px solid $border-color;
}

.bold-t {
    border-top: 2px solid $border-color;
}

.bold-l {
    border-left: 2px solid $border-color;
}

.key-board {
    display: flex;
    flex-wrap: wrap;
    margin: $margin-top-bottom auto;
    width: 100%;
    max-width: ($item-size-medium * 9) + 14px;

    @media(min-width: $large) {
        max-width: ($item-size-large * 9) + 14px;
    }
}

.key-board__keys {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.key-board__key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $numbers-font;
    width: $key-size-small;
    height: $key-size-small;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $button-bgc-color;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darken($button-bgc-color, 10);
    }

    @media(min-width: $medium) {
        width: $key-size-medium;
        height: $key-size-medium;
        font-size: 1rem;
    }

    @media(min-width: $large) {
        width: $key-size-large;
        height: $key-size-large;
        font-size: 1.2rem;
    }
}

.key-board__remove {
    margin: $margin-top-bottom auto;
    padding: 5px 25px;
    background-color: $button-bgc-color;
    color: white;
    font-family: $numbers-font;
    font-size: 0.8rem;
    border: 1px solid $border-color;
    border-radius: 50px;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: darken($button-bgc-color, 10);
    }

    @media(min-width: $medium) {
        font-size: 0.9rem;
    }

    @media(min-width: $large) {
        font-size: 1.1rem;
    }
}

.hard-number {
    color: $hard-number-color;
}

.add-hover {
    &:hover {
        background-color: darken(white, 10);
    }
}

.select {
    background-color: $select-bcg-color;

    &:hover {
        background-color: darken($select-bcg-color, 10);
    }
}

.animation {
    transition: 0.3s ease-in-out;
    background-color: $animation-color;
}