@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

* {
    padding: 0;
    margin: 0;
}

$font-family: 'Jomhuria',
cursive;
$numbers-font: 'Roboto',
sans-serif;
$margin-top-bottom: 20px;
$medium: 355px;
$large: 500px;
$item-size-small: 28px;
$item-size-medium: 37px;
$item-size-large: 45px;
$key-size-small: 32px;
$key-size-medium: 35px;
$key-size-large: 42px;

$bcg-color: #10e7dc;
$button-bgc-color: #254d72;
$font-color: #0074e1;
$border-color: #798591;
$animation-color: #00f308;
$curtain-color: #366c9e;
$select-bcg-color: rgb(194, 224, 252);
$hard-number-color: rgb(49, 49, 49);
$choose-number-color: #4129df;
$correct-bgc-color: rgba(255, 255, 255, 0.734);

html {
    font-size: 30px;
    font-family: $font-family;
}

h1 {
    font-weight: normal;
}

body {
    background-color: $bcg-color;
    user-select: none;
}

.sudoku-container {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: ($item-size-small * 9) + 14px;
    max-width: ($item-size-large * 9) + 14px;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    margin-top: $margin-top-bottom;
    color: $font-color;
}

.sudoku {
    display: flex;
    flex-wrap: wrap;
    width: ($item-size-small * 9) + 14px;
    height: ($item-size-small * 9) + 14px;

    @media(min-width: $medium) {
        width: ($item-size-medium * 9) + 14px;
        height: ($item-size-medium * 9) + 14px;
    }

    @media(min-width: $large) {
        width: ($item-size-large * 9) + 14px;
        height: ($item-size-large * 9) + 14px;
    }
}

.sudoku__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $item-size-small;
    height: $item-size-small;
    font-size: 0.8rem;
    font-family: $numbers-font;
    cursor: pointer;
    background-color: white;
    color: $choose-number-color;

    @media(min-width: $medium) {
        width: $item-size-medium;
        height: $item-size-medium;
    }

    @media(min-width: $large) {
        width: $item-size-large;
        height: $item-size-large;
        font-size: 1rem;
    }
}

.b {
    border-bottom: 1px solid $border-color;
}

.r-b {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.bold-r {
    border-right: 2px solid $border-color;
}

.bold-b {
    border-bottom: 2px solid $border-color;
}

.bold-t {
    border-top: 2px solid $border-color;
}

.bold-l {
    border-left: 2px solid $border-color;
}

.key-board {
    display: flex;
    flex-wrap: wrap;
    margin: $margin-top-bottom auto;
    width: 100%;
    max-width: ($item-size-medium * 9) + 14px;

    @media(min-width: $large) {
        max-width: ($item-size-large * 9) + 14px;
    }
}

.key-board__keys {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.key-board__key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $numbers-font;
    width: $key-size-small;
    height: $key-size-small;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $button-bgc-color;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darken($button-bgc-color, 10);
    }

    @media(min-width: $medium) {
        width: $key-size-medium;
        height: $key-size-medium;
        font-size: 1rem;
    }

    @media(min-width: $large) {
        width: $key-size-large;
        height: $key-size-large;
        font-size: 1.2rem;
    }
}

.sudoku-button {
    margin: $margin-top-bottom auto;
    padding: 5px 25px;
    background-color: $button-bgc-color;
    color: white;
    font-family: $numbers-font;
    font-size: 0.8rem;
    border: 1px solid $border-color;
    border-radius: 50px;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: darken($button-bgc-color, 10);
    }

    @media(min-width: $medium) {
        font-size: 0.9rem;
    }

    @media(min-width: $large) {
        font-size: 1.1rem;
    }
}

.hard-number {
    color: $hard-number-color;
}

.add-hover {
    &:hover {
        background-color: darken(white, 10);
    }
}

.select {
    background-color: $select-bcg-color;

    &:hover {
        background-color: darken($select-bcg-color, 10);
    }
}

.animation {
    transition: 0.3s ease-in-out;
    background-color: $animation-color;
}


// --- Interface ---

.interface {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bcg-color;
    z-index: 5;
}

.interface-header {
    font-size: 2.5rem;

    @media(min-height: 500px) {
        margin: 10px auto 15px auto;
    }

    @media (min-width: 1024px) {
        margin: 60px auto 15px auto;
    }
}

.select-board {
    width: 90%;
    max-width: ($item-size-large * 9) + 14px;
    margin: 0 auto;
}

.select-board__header {
    text-align: center;
    font-family: $numbers-font;
    font-weight: normal;
    font-size: 0.8rem;
    color: darken($border-color, 5);
}

.select-board__level-container {
    position: relative;
    margin: 25px auto;
    border: 2px solid $border-color;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}

.select-board__level-header {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    font-family: $numbers-font;
    font-size: 0.6rem;
    font-weight: normal;
    color: darken($border-color, 5);
    background-color: $bcg-color;
    z-index: 6;
}

.select-board__level-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $numbers-font;
    width: $key-size-small;
    height: $key-size-small;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $button-bgc-color;
    color: white;
    cursor: pointer;
}

.animation-transition {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    &__item {
        position: absolute;
        height: 100%;
        left: 0;
    }
}

.animation-transition__left {
    transform: translateX(-100%);
    animation: animation-transition-left 1s ease-in-out;
    width: 110%;
    background-color: darken($curtain-color, 10);
}

.animation-transition__right {
    transform: translateX(100%);
    animation: animation-transition-right 1s ease-in-out;
    width: 110%;
    background-color: $curtain-color;
}

@keyframes animation-transition-left {
    100% {
        transform: translateX(100%);
    }
}

@keyframes animation-transition-right {
    100% {
        transform: translateX(-100%);
    }
}

.not-active {
    opacity: 0.2;
}

.interface-hover {
    &:hover {
        background-color: darken($button-bgc-color, 10);
    }
}


// --- Correct ---

.correct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 620px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: $correct-bgc-color;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.correct__text {
    font-family: $numbers-font;
    font-size: 1.4rem;
    flex-basis: 100%;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $numbers-font;
    font-size: 0.4rem;
}